.hero-banner{
    max-height: 60vh;
    overflow: hidden;
    text-align: center;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.hero-banner-image{
    height: 43vh;
    width: 100%;
    object-fit: cover;
}
.hero-text{
    position: absolute;
    color: #333;
    top: 12%;
    max-width: 70%;
    min-width: 80vw;
}

@media screen and (max-width: 768px) {

    
}
@media screen and (max-width: 480px) {
    .hero-banner{
        height: 277px;
    }
    .hero-text{
        top:5%;
    }
}