.hero-banner{
    max-height: 60vh;
    overflow: hidden;
    text-align: center;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 73px;
}
.hero-banner-image{
    height: 43vh;
    width: 100%;
    object-fit: cover;
}
.hero-text{
    position: absolute;
    color: #ffffff;
    height: -webkit-fill-available;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    align-content: space-evenly;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.7)
  );
    min-width: 90vw;
}

@media screen and (max-width: 768px) {

    
}
@media screen and (max-width: 480px) {
    .hero-banner{
        height: 277px;
    }
}