.navbar {
  background-color: #0b2c46 !important;
  box-shadow: none !important;
}

.navbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-title {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.nav-links {
  display: flex;
  gap: 20px;
  a{
    font-size: 17px;
  }
}

.nav-btn {
  text-transform: none !important;
  font-weight: 500 !important;
}

.menu-icon {
  display: none !important;
}

/* Drawer Styles */
.drawer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.drawer-title {
  font-weight: 600;
}

/* Responsive */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block !important;
  }
}
