.navbar {
  background-color: #0b2c46 !important;
  box-shadow: none !important;
}

.navbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-social {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Social icons styling */
.social-icon {
  color: #ffffff;
  padding: 4px;
  transition: transform 0.3s ease, color 0.3s ease;
}
.social-icon:nth-child(1) { 
  color: #ffffff;
  background-image: linear-gradient(120deg, #3b5998, #1877F2);
} /* Facebook */
.social-icon:nth-child(2) {
  color: #fff;
  background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); 
} /* Instagram */
.social-icon:nth-child(3) {    
  color: #ffffff;
  background-image: linear-gradient(45deg, #E5FFCC, #1EBEA5, #00E676, #00E676, #00E676, #ffffff);
} /* WhatsApp */
.social-icon:hover {
  transform: translateY(-2px);
}

.navbar-title {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.nav-links {
  display: flex;
  gap: 20px;
  a{
    font-size: 17px;
  }
}

.nav-btn {
  text-transform: none !important;
  font-weight: 500 !important;
}

.menu-icon {
  display: none !important;
}

/* Drawer Styles */
.drawer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.drawer-title {
  font-weight: 600;
}

/* Responsive */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block !important;
  }
}
