/* .package-cards-group {
        display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 10px;
}
.package-cards-group .MuiPaper-root {
    flex: 0 0 30%;
    position: relative;
}
.package-cards-group .MuiPaper-root:hover{
    scale: 1.03;
} */
.packages-section {
  padding: 20px 20px;
  background-color: #fafafa;
}

.packages-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.package-card {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.package-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.duration-badge {
    font-size: 14px;
    color: #fff;
    border-radius: 16px;
    padding: 4px 10px;
    display: inline-block;
    margin-bottom: 10px;
    left: 4px;
    font-weight: 600;
    background: #000000;
    top: 40%;
    position: absolute;
}

@media (max-width: 600px) {
  .packages-section {
    padding: 15px 10px;
  }

  .packages-title {
    font-size: 1.5rem;
  }
}
.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 10px 0;
}

.carousel-inner {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px 0;
  scrollbar-width: none;
}

.carousel-inner::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  min-width: 280px;
  max-width: 300px;
  flex: 0 0 auto;
  height: 97%;
  position: relative;
}

.scroll-btn {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  padding: 5px 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  transition: background 0.3s;
}

.scroll-btn:hover {
  background: rgba(255, 255, 255, 1);
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}
.skeleton-container {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
}

.skeleton-card {
  min-width: 280px;
  max-width: 300px;
}
/* @media (max-width: 480px) {
  .package-cards-group .MuiPaper-root {
    flex: 0 0 100%;
  }
  .package-cards-group{
    gap: 5px;
  }
} */