.review-carousel-container {
    position: relative;
    width: 50%;
    scale: 0.9;
}

.review-card {
      border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 8%);
    background: #fff;
    text-decoration: none;
    display: block;
    color: #333;
}
.review-card:hover {
    box-shadow: 0px 14px 20px rgb(0 0 0 / 12%);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.review-header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.reviewer-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.rating-stars {
  color: #ffb400;
  font-size: 18px;
}

.review-images-wrapper {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.review-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}
.review-carousel-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 35vh;
  color: #fff;
  border: solid;
  background-color: #457b9d;
  border-radius: 20px;
}
.review-carousel-first-div{
  padding-left: 20px;
}
@media screen and (max-width: 768px) {

    
}
@media screen and (max-width: 480px) {
  .review-carousel-flex{
    flex-direction: column;
  }
  .review-carousel-container{
    width: 100%;
  }
  .review-carousel-first-div{
    text-align: center;
  }
}