/* ===============================
   STATS SECTION
   =============================== */

/* Dark overlay */
.stats-overlay {
  position: relative;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container */
.stats-container {
  position: relative;
  z-index: 2;
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
}

/* Individual stat */
.stat-item {
  flex: 1;
  padding: 0px 10px 20px;
  opacity: 1;
  transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

/* Vertical divider */
.stat-item:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

/* Big number */
.stat-item h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

/* Description */
.stat-item p {
  font-size: 16px;
}

/* ===============================
   RESPONSIVE
   =============================== */


.review-carousel-container {
    position: relative;
    width: 50%;
    scale: 0.9;
}

.review-card {
      border-radius: 12px;
    padding: 35px 65px;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 8%);
    background: #fff;
    text-decoration: none;
    display: block;
    color: #333;
}
.review-card:hover {
    box-shadow: 0px 14px 20px rgb(0 0 0 / 12%);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.review-header {
  display: flex;
  gap: 12px;
  align-items: center;
}

.reviewer-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.rating-stars {
  color: #ffb400;
  font-size: 18px;
}

.review-images-wrapper {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.review-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}
.review-carousel-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 35vh;
    width: 90%;
    color: #333;
    place-self: center;
    margin: auto;
    border-radius: 20px;
}
.overall-rating-value{
  margin: 10px 0;
  border: solid 1px #d3cece;
  padding: 0px 14px;
  width: fit-content;
  background-color: #fff;
  place-self: center;
  border-radius: 30px;
  box-shadow: -1px 4px 0px rgb(82 82 82 / 5%);
}
.overall-rating-area{
  text-align-last: center;
}
.review-carousel-first-div{
  padding-left: 20px;
}
@media screen and (max-width: 900px) {

  .stats-container {
    gap: 30px;
  }

  .stat-item {
    border-right: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
  }

  .stat-item:last-child {
    border-bottom: none;
  }

  .stat-item h2 {
    font-size: 36px;
  }

  .stat-item p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {

    
}
@media screen and (max-width: 480px) {
  .review-carousel-flex{
    flex-direction: column;
  }
  .review-carousel-container{
    width: 125%;
  }
  .review-carousel-first-div{
    text-align: center;
  }
}